#root {
}

h1 {
  font-size: 1.9rem;
  margin: 0;
  margin-left: 0.5rem;
}

.code {
  margin: 0;
  margin-left: 2rem;
}

.layer-info-title {
  margin-left: 2rem;
  font-size: 1.2rem;
}
.layer-info-abstract {
  margin-left: 2rem;
}


.main-grid {
  width: 100%;
  height: 100vh;

  display: grid;
  /* grid-template-columns: minmax(0, 3fr) minmax(0, 1fr); */
  grid-template:
  /* "map layers" min-content
  "code layer-description" 1fr
      / min-content 1fr; */
      "map map map search" min-content    /* height = min-content to fit the search */
      "map map map layers" 3fr            /* height of the map */
      "code code layer-description layer-description"  1fr / 1fr 1fr 1fr 1fr;  /* height of the code = 1fr  -  width of the grid is 1fr 1fr 1fr 1fr */
}

.cell-map {
  grid-area: map;
}

.cell-search {
  grid-area: search;
  background-color: lightcoral;
}

.cell-layers {
  grid-area: layers;
  background-color: limegreen;
  overflow: auto;   /* required for resize */
  border: 2px black solid;
}

.cell-code {
  grid-area: code;
  overflow: auto;   /* required for resize */
  border: 2px black solid;
}

.cell-layer-description {
  grid-area: layer-description;
  overflow: auto;   /* required for resize */
  border: 2px black solid;
}
